body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-gestures, #right-gestures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#video-stream {
  border: 5px solid #333;
  width: 600px;
  height: 450px;
}

#controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

#left-gestures img {
  width: 250px;
  height: auto;
  margin-right: 100px;
  margin-bottom: 20px;
}
#right-gestures img{
  width: 250px;
  height: auto;
  margin-left: 100px;
  margin-bottom: 20px;
}


